#Header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: rgb(37, 36, 36);
}
  
#Header h1 {
    margin: 0;
    padding: 40px;
    font-size: 45px;
}

#Logo {
    margin: 25px;
    margin-left: 70px;
    max-width: 100px;
    height: 100px;

}

.accountButton{
    font: 25px sans-serif;
    font-weight: bold;
    color: rgb(150, 55, 160);
    border: solid rgb(150, 55, 160);
    border-radius: 10px;
    padding: 10px;
    margin: auto 10px auto auto;
}

.accountButton:hover {
    cursor: pointer;
    color: rgb(202, 168, 206);
    border-color: rgb(202, 168, 206);
    background-color: rgba(149, 55, 160, 0.596);
}

#SignUpButton{
    background-color: rgb(149, 55, 160);
    color: rgb(37, 36, 36);
    margin-left: 20px;
    margin-right: 200px;
}

#SignUpButton:hover{
    color: rgb(202, 168, 206);
}
